{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <div class="px-5 py-5 mx-auto" style="background-color: #ffc0cb; height: 100vh;">
        <h1 class="text-white text-center mb-4"><strong>Holiday Giftinator</strong></h1>
        
        <div class="d-flex justify-content-center align-items-center" style="height: 70vh;">
            <div class="card text-center" style="width: 22rem;">
                <h5 class="card-title">Purpose</h5>
                <img class="card-img-top" src="{{ url_for('static', filename='assets/IMG.png') }}" alt="Purpose Image" height="250">
                <div class="card-body">
                    <p class="card-text">
                        description
                    </p>
                    <a href="{{ url_for('purpose') }}" class="btn btn-primary">Go to Purpose</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
