{% extends "layouts/base.html" %}
{% set project = "Purpose" %}

{% block body %}
    <div class="px-5 py-5 mx-auto" style="background-color: #ffc0cb; height: 100vh;">
        <h1 class="text-white text-center">Our Project Purpose</h1>
        <p class="text-white text-center">This project is dedicated to showing individuals looking for gift ideas different categories of inspiration. Our goal is to inspire with creative gifts with our AI chatbot, and our subcategories with a search bar feature.</p>
    </div>
{% endblock %}
